<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div class="container">
        <!-- Display Success Message -->
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <!-- Success message or additional content can be added here -->
        <h2>Your meeting request has been successfully sent!</h2>
        <a href="{% url 'departments' %}" class="back-button">Back to Departments</a>
    </div>

</body>
</html>
